.list.section {
    @include flex(flex-start);
    align-items: flex-start;
    flex-direction: row;

    & .list__filter {
        margin-right: 32px;
        width: 15%;
        & + section {
            width: 85%;
        }
    }

    & .list__view {
        @include flex(space-between);
        @include font(1em, 400, 1.5);
        margin-bottom: 32px;
        text-align: center;

        & .sort-btn-price.button span {
            position: static;
        }
        & .sort-btn-price {
            @include font(1.5em, 400, 1.5);
            width: 8rem;
            height: 3rem;
            transition-duration: 0ms;
        }
    }

    & .list__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;

        &-item {
            @include flex(space-between);
            width: 100%;

            height: 100%;

            flex-direction: column;
            text-align: center;
        }
        &-img {
            width: 100%;
            height: 70%;
            object-fit: cover;
        }
        &-content {
            width: 100%;
            height: 30%;
            @include flex(space-between);

            flex-direction: column;
            text-align: center;
        }
        &-title {
            @include font(20px, 500, 1.2);
            margin-top: 22px;
            height: 50%;
        }
        &-price {
            @include font(18px, 500, 1.2);
            margin-top: 10px;
            color: $text-gray;
        }
    }
}

.pagination {
    @include flex(center);
    margin: 32px 0;
    .button {
        margin-right: 10px;
    }

    .active-btn {
        background-color: #fff;
        color: $dark;
        border: $dark;
    }
}
