.category {
    &__list {
        @include flex(space-between);

        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        @media screen and (min-width: 765px) and (max-width: 1199px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }
        @media screen and (min-width: 1200px) {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 31px;
            grid-row-gap: 31px;
        }

        &-item {
            @include flex(center);
            @include font(18px, 400, 1.5);
            padding: 10%;
            flex-direction: column;
            align-self: stretch;
            justify-self: center;
            width: 100%;
            height: 100%;
            background-color: $bg-gray;
            color: $text-gray;
            transition-duration: 500ms;
            cursor: pointer;
            @media screen and (min-width: 1920px) {
                width: 246px;
                height: 213px;
                padding: 0;
            }

            & svg {
                margin: 0 0 8px 0;
                width: 96px;
                height: 96px;
                fill: $dark;
            }

            &:hover {
                background-color: $dark;
                color: $bg-light;

                & svg {
                    fill: $bg-light;
                }
            }
        }
    }
}
