.featured {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        @media screen and (max-width: 764px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 8px;
            grid-row-gap: 8px;
        }
        @media screen and (min-width: 765px) and (max-width: 1199px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }
        @media screen and (min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 32px;
            grid-row-gap: 32px;
        }
        &-item {
            @include flex(center);
            flex-direction: column;
            padding: 1vh 2vw;
            border: 3px solid transparent;
            text-align: center;
            transition-duration: 500ms;

            &:nth-child(-n + 6) {
                @media screen and (min-width: 765px) and (max-width: 1199px) {
                    display: none;
                }
            }
            &:nth-child(-n + 8) {
                @media screen and (max-width: 764px) {
                    display: none;
                }
            }
            @media screen and (min-width: 765px) and (max-width: 1919px) {
                padding: 1rem 2rem;
            }
            @media screen and (min-width: 1920px) {
                padding: 43px 67px;
            }
            @media screen and (max-width: 764px) {
                border: 3px solid $bg-gray;
            }
            & img {
                width: 250px;
            }
            &:hover {
                border: 3px solid $dark;
            }
            &:hover .add-button {
                opacity: 1;
            }
        }
    }
    & .add-button {
        @include font(13px, 700, 1.5);
        margin: 0 auto;
        width: 6.5rem;
        height: 2rem;
        opacity: 0;
        text-align: center;
        @media screen and (max-width: 764px) {
            opacity: 1;
            padding: 3% 4%;
        }
        @media screen and (min-width: 1200px) and (max-width: 1919px) {
            width: 8rem;
            height: 3rem;
            @include font(18px, 700, 1.5);
        }
        @media screen and (min-width: 1920px) {
            @include font(18px, 700, 1.5);
            margin: 24px auto 0 auto;
            width: 200px;
            height: 60px;
        }
    }
    & .wrapper__description-title {
        @include font(24px, 500, 1.5);
        margin-top: 16px;
        @media screen and (max-width: 1919px) {
            font-size: 1rem;
        }
    }
}
