.header {
    width: 100%;
    margin: 0 auto;
    padding: 18px 0;
    position: relative;

    @include flex(space-between);

    &__wrapper {
        @include flex(center);

        color: $dark;

        &-logo {
            @include font(18px, 700, 26px);
            margin-left: 8px;

            @media screen and (min-width: 1200px) {
                @include font(24px, 700, 36px);
            }
        }

        &-item {
            @include font(1em, 500, 1.5);
            position: relative;

            margin-right: 2.9vw;

            @media screen and (min-width: 1920px) {
                @include font(18px, 500, 27px);
                margin-right: 80px;
            }

            &:nth-last-child() {
                margin-right: 0;
            }

            &::after {
                content: " ";
                transition: width 0.3s ease-out;
                display: block;
                width: 0%;
                height: 4px;
                border-radius: 2px;
                background-color: $dark;
                &:hover {
                    border-color: red;
                }
                @media screen and (max-width: 764px) {
                    position: absolute;
                    bottom: 24px;
                    left: 0;
                }
                @media screen and (min-width: 765px) and (max-width: 1199px) {
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                }
                @media screen and (min-width: 1200px) {
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                }
            }
            &:hover::after {
                width: 100%;
            }
        }

        &-input {
            width: 35vw;
            height: 35px;
            padding: 3px 10px;
            border: 1px solid $text-gray;
            border-radius: 5px;
            cursor: pointer;

            @media screen and (min-width: 1200px) {
                width: 200px;
                height: 40px;
                padding: 5px 20px;
            }
        }
        &-input.product {
            margin-left: auto;
            width: 35vw;
            & + .header__wrapper-button {
                position: absolute;
                top: 50%;
                right: 2%;
                transform: translate(-2%, -50%);
            }
        }

        &-form {
            @include flex(center);
            position: relative;
            margin-left: auto;
        }

        &-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        & > .header__wrapper-button {
            margin: 0 3vw 0 1vw;

            @media screen and (min-width: 1920px) {
                margin: 0 58px 0 32px;
            }
        }

        & .button {
            @include font(1em, 700, 1.5);

            margin: 0;
            padding: 1.3vh 2vw;

            @media screen and (min-width: 1920px) {
                @include font(18px, 700, 27px);
                padding: 16px 28px;
            }
        }
    }
}

.header__wrapper-mobile {
    @media screen and (max-width: 1199px) {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.header__wrapper-desktop {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.menu-button {
    fill: $dark;
    background-color: transparent;
    border: 0;

    & .icon-menu {
        display: block;
    }
    & .icon-cross {
        display: none;
    }
    &.is-open .icon-menu {
        display: none;
    }
    &.is-open .icon-cross {
        display: block;
    }
}

.header__wrapper-desktop.is-open {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 50;

    background-color: $bg-light;
    & form,
    & form + button {
        display: none;
    }

    & ul {
        padding: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    & li {
        margin: 0 0 22px 0;
    }
}

header.section {
    margin: 0;
}
