{{#each this}}
<li class="list__gallery-item">
    <img class="list__gallery-img" src="{{previewURL}}" alt="{{tags}}">
    <h4 class="list__gallery-title">{{tags}}</h4>
    <p class="list__gallery-price">{{price}}</p>
</li>
{{/each}}