$bg-light: #fff;
$dark: #393d46;
$bg-gray: #f6f7fb;
$hover-stars: #fbea53;
$text-gray: #9f9f9f;

// @media screen and (max-width: 360px) {

//     }

//     @media screen and (min-width: 361px) and (max-width: 1919px) {

//     }

//     @media screen and (min-width: 1920px) {

//     }
