.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;

    &.show {
        opacity: 1;
        z-index: 100;

        & .form-details {
            opacity: 1;
        }
    }
}

.form-details {
    @include flex(center);
    flex-direction: column;

    width: fit-content;
    height: fit-content;
    padding: 3rem 1rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 1s ease-in-out;

    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.97);
    background-color: $bg-light;
    overflow: hidden;
    opacity: 0;
    & h2 {
        color: green;
        @media screen and(max-width: 1199px) {
            @include font(1.5rem, 500, 1.3);
        }
    }

    & .dayils-list {
        @include flex(space-between);
        margin-top: 2rem;
        flex-direction: row;
        align-items: flex-start;

        @media screen and(max-width: 1199px) {
            flex-direction: column;
        }
        & h3 {
            @include font(1.5rem, 500, 1.3);

            @media screen and(max-width: 1199px) {
                @include font(1rem, 500, 1.3);
            }
        }

        & span {
            @include font(1.2rem, 400, 1.5);
            margin-left: 10px;
            color: $dark;

            @media screen and(max-width: 1199px) {
                @include font(0.8rem, 400, 1);
            }
        }

        & .details-buyer {
            margin-right: 5em;
        }

        & .details-buyer li,
        & .details-payment li {
            @include flex(flex-start);
            flex-direction: row;
        }
    }

    & .form-close {
        font-size: 2rem;
        background: transparent;
        border-color: transparent;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        cursor: pointer;
    }
}
