.progress {
    &.section {
        margin-top: 20px;
    }
    & .section__title {
        text-align: center;
        margin: 1.5rem 0 2rem;
        @media screen and (min-width: 1200px) {
            margin: 41px 0 100px;
        }
    }

    &__list:first-child {
        @include flex(center);
        @media screen and (min-width: 1200px) {
            @include flex(flex-start);
        }
    }
    &__list {
        &-item a {
            @include font(1rem, 500, 1.5);

            position: relative;
            padding: 0 12px;
            color: $text-gray;
            @media screen and (min-width: 1200px) {
                @include font(18px, 500, 1.5);
                padding: 0 22px;
            }

            &:hover {
                color: $dark;
            }
            &::after {
                display: block;
                width: 50%;
                height: 100%;
                position: absolute;
                content: "";
                top: 30%;
                right: -47%;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.016.416h2.592l4.14 4.086-4.14 4.086H.016l4.158-4.086L.016.416Z' fill='%23CDCFD1'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
            }
        }
        &-item:first-child a {
            padding-left: 0;
        }
        &-item:last-child a {
            &::after {
                display: none;
            }
        }
        &-item.active a {
            color: $dark;
        }
    }
    &__list:last-child {
        @include flex(space-between);
        width: 100%;
        .progress__list-item {
            @include flex(flex-start);
            position: relative;
            & .text,
            & .number {
                @include font(20px, 500, 1.7);
                color: $text-gray;

                @media screen and (min-width: 1920px) {
                    @include font(24px, 500, 1.7);
                }
            }

            & .text {
                margin: 0 24px;
            }
            & .number {
                position: relative;
                width: 35px;
                height: 35px;
                border: 1px solid $dark;
                border-radius: 50%;
                & span {
                    @include centerAbsolute();
                }

                @media screen and (min-width: 1920px) {
                    width: 55px;
                    height: 55px;
                }
            }
        }

        & .progress__list-item:not(:last-child) {
            &::after {
                width: 18vw;
                height: 2px;
                position: absolute;
                content: "";
                top: 50%;
                right: 50%;
                background-color: $dark;
                transform: translate(150%, -50%);
            }
        }

        @media screen and (max-width: 1199px) {
            display: none;
        }
    }
}
.active .text,
.active .number {
    color: $dark !important;
}
.active {
    color: $dark !important;
}
