.header {
    width: 100%;
    margin: 0 auto;
    position: relative;
    @include flex(space-between);
    padding: 18px 0;

    &__wrapper {
        @include flex(center);
        color: $dark;

        &-logo {
            @include font(24px, 700, 36px);
            margin-left: 8px;
        }

        &-item {
            @include font(1em, 500, 1.5);
            margin-right: 2.9vw;

            @media screen and (min-width: 1920px) {
                @include font(18px, 500, 27px);
                margin-right: 80px;
            }

            &:nth-last-child() {
                margin-right: 0;
            }
            // &::after {
            //     content: "";
            //     height: 3px;
            //     width: 100%;
            //     position: absolute;
            //     bottom: 1;
            //     left: 0;
            //     background-color: green;
            //     color: green;
            //     transform: scaleX(0);
            //     transform-origin: right;
            //     transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
            //     display: inline-block;
            // }
            // &:hover .header__wrapper-item::after {
            //     background-color: black;
            //     color: black;
            // }
        }

        &-input {
            width: 8vw;
            height: 2.5vh;
            border: 2px solid $dark;
            border-radius: 5px;
            @media screen and (min-width: 1920px) {
                width: 200px;
            }
        }

        &-form {
            @include flex(center);
        }

        &-button {
            background-color: transparent;
            border: none;
        }
        & > .header__wrapper-button {
            margin: 0 3vw 0 1vw;
            @media screen and (min-width: 1920px) {
                margin: 0 58px 0 32px;
            }
        }

        & .button {
            @include font(1em, 700, 1.5);
            margin: 0;
            padding: 1.3vh 2vw;

            @media screen and (min-width: 1920px) {
                @include font(18px, 700, 27px);
                padding: 16px 28px;
            }
        }
    }
}

.header__wrapper-mobile {
    @media screen and (max-width: 1199px) {
        display: flex;
        justify-content: flex-end;
    }
    @media screen and (min-width: 1200px) {
        display: none;
    }
}
.header__wrapper-desktop {
    // transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.menu-button {
    fill: $dark;
    background-color: transparent;
    border: 0;

    & .icon-menu {
        display: block;
    }
    & .icon-cross {
        display: none;
    }
    &.is-open .icon-menu {
        display: none;
    }
    &.is-open .icon-cross {
        display: block;
    }
}

.header__wrapper-desktop.is-open {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 100%;
    z-index: 50;

    background-color: $bg-light;
    & form,
    & form + button {
        display: none;
    }
    & ul {
        padding: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
    & li {
        margin: 0 0 30px 0;
    }
}

header.section {
    margin-top: 0;
    margin-bottom: 0;
}
