.table {
    @include flex(flex-start);
    flex-direction: column;
    align-items: end;

    &__wrapper-desktop {
        width: 100%;
        display: table;

        @media screen and (max-width: 1199px) {
            display: none;
        }
        & .table__heading {
            height: 65px;

            & th {
                color: $text-gray;
                text-align: center;
            }
        }
        & .table__item {
            height: 166px;
            padding: 32px 0;

            & td {
                height: 265px;
                text-align: start;
                border-top: 1px solid $bg-gray;
                border-bottom: 1px solid $bg-gray;

                &:last-child {
                    text-align: end;
                }
            }
        }
        & .table__item-card {
            @include flex(flex-start);
            flex-direction: row;
            padding: 0 25px;
            width: 97%;
            border-right: 1px solid $text-gray;
            & .card_image {
                width: 350px;
                height: 90%;
                object-fit: cover;
                cursor: pointer;
            }
            & h3 {
                @include font(22px, 500, 1);
                margin-left: 50px;
                display: block;
                width: 30%;
            }
        }
        & .cart-item-remove-btn {
            background-color: $bg-light;
            border: 3px solid $dark;
            color: $dark;
            &:hover {
                background-color: $dark;
                color: $bg-light;
            }
        }
    }

    &__wrapper-mobile {
        display: none;
        text-align: end;
        & tr {
            height: 40px;
        }

        @media screen and (max-width: 1199px) {
            display: table;
        }
        & .table__heading {
            width: 10%;
            border-right: 1px solid $bg-gray;
            text-align: start;
        }
        & .cart-item-remove-btn {
            margin-left: auto;
            background-color: $bg-light;
            border: 3px solid $bg-gray;
            color: $dark;
            &:hover {
                border: 3px solid $dark;
            }
        }
        & .card_image {
            width: 100%;
            cursor: pointer;
        }
        & h3 {
            @include font(1.5em, 700, 1);
            margin: 10px 0;
        }
    }

    .table__item-counter {
        @include flex(flex-end);
        flex-direction: row;
        @media screen and (min-width: 1200px) {
            width: 200px;
            @include flex(center);
        }
        & .counter-amount {
            @include font(1em, 500, 1.5);
            width: 60px;

            text-align: center;

            @media screen and (min-width: 1200px) {
                width: 75px;
                @include font(1.8em, 500, 2);
            }
        }
        & + p {
            @include font(16px, 400, 1);
            color: $text-gray;

            margin-top: 22px;
        }
    }
    & .cart-item-remove-btn {
        @include font(15px, 500, 0.5);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
        @media screen and (min-width: 1200px) {
            @include font(20px, 500, 1);
            width: 40px;
            height: 40px;
        }
    }
}

.total.section {
    margin-top: 0;
    @include flex(space-between);
    align-items: center;
    @media screen and (max-width: 1199px) {
        flex-direction: column;
        & div {
            width: 100%;
        }
    }
    & .table__price {
        color: $text-gray;

        @media screen and (min-width: 1200px) {
            height: 100px;
        }

        & span {
            display: block;
            text-align: end;
            margin-top: 32px;
        }

        & .price {
            @include font(1rem, 700, 1);
            color: $dark;

            @media screen and (min-width: 1200px) {
                @include font(36px, 700, 1);
            }
        }
    }

    & .table-btn {
        @include flex(flex-end);
        flex-direction: row;
        margin-top: 60px;

        @media screen and (min-width: 1200px) {
            margin-top: 200px;
        }

        & .button {
            @include font(0.8rem, 500, 1.2);
            text-align: center;
            margin-left: 15px;
            width: 8rem;
            height: 3rem;

            @media screen and (min-width: 1200px) {
                @include font(18px, 500, 1.5);
                height: 50px;
                width: 180px;
                margin-left: 32px;
            }
        }
    }
    & .button {
        position: relative;
        width: 20px;
        height: 20px;
        text-align: center;
        @media screen and (min-width: 1200px) {
            width: 40px;
            height: 40px;
        }
        & span {
            @include centerAbsolute();
        }
    }
}
.table.section.mobile {
    margin-top: 0;

    @media screen and (max-width: 1199px) {
        max-height: 310px;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
    }
    & table {
        margin: 10px 0;
        padding: 10px 10px 20px;
        border-radius: 15px;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    }
}
.table.section.desktop {
    margin-top: 0;
    @media screen and (max-width: 1199px) {
        margin: 0;
    }
    max-height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;

    & .counter-column {
        @include flex(center);
        flex-direction: column;
        margin: 0;
        height: 50%;
        align-items: center;
        justify-content: center;
    }
    & .services__wrapper {
        // height: 50%;
        @include flex(center);

        & form {
            @include flex(flex-start);
            flex-direction: column;
        }
    }
    & .item__info p,
    .item__info div:last-child {
        margin: 0;
        height: 50%;
        @include flex(center);
        align-items: center;
        justify-content: center;
    }
}
.total__promo {
    position: relative;
    height: 5vh;
    width: 40%;
    @media screen and (max-width: 1199px) {
        width: 100%;
    }
    & .promo-input {
        @include font(20px, 400, 1);
        padding: 4px 20px 4px 40px;
        width: 100%;
        height: 100%;
        background-color: $bg-light;
        border: 1px solid #9f9f9f;
        cursor: pointer;
        transition-duration: 500ms;
        @media screen and (max-width: 1199px) {
            @include font(10px, 400, 0.8);
            padding: 4px;
            margin: 0;
        }
    }
    & .apply-btn.button {
        @include flex(center);
        position: absolute;
        height: 100%;
        width: 140px;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 1199px) {
            width: 100px;
        }
    }
}

.similar__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 3vh;
    @media screen and (max-width: 1199px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    & .list__gallery-item {
        height: 100%;
        padding: 32px;
        border: 3px solid transparent;
        transition-delay: 500ms;
    }
    & img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 250px;
        object-fit: cover;
        cursor: pointer;
        @media screen and (max-width: 1199px) {
            height: 100%;
        }
    }
    & .list__gallery-content {
        text-align: center;
        & h4 {
            font-size: 24px;
            font-weight: 400;
            line-height: 1.2;
            margin: 20px 0;
        }
        & p {
            font-size: 18px;
            font-weight: 500;
            line-height: 1;
            color: #9f9f9f;
        }
    }
}
.discount-price {
    @include font(16px, 400, 1);
    @include flex(flex-end);
    color: $text-gray;
    & span:first-child {
        margin-right: 2rem;
    }
}
