.similar__info {
    @include flex(flex-start);

    @media screen and (max-width: 1199px) {
        @include flex(space-between);
    }

    & .section__title {
        margin-right: 1em;

        @media screen and (max-width: 767px) {
            @include font(1.2rem, 700, 1);
        }
    }
}

.slides {
    margin: 0 auto;
    text-align: center;

    & .slider__item {
        width: fit-content;
        height: 100%;
        padding: 32px;
        border: 3px solid transparent;
        transition-delay: 500ms;

        @media screen and (max-width: 767px) {
            padding: 12px;
        }

        &:hover {
            border: 2px solid $dark;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        &-title {
            @include font(24px, 400, 1.2);
            margin: 20px 0;

            @media screen and (max-width: 767px) {
                @include font(14px, 400, 1);
                margin: 8px 0;
            }
        }
        &-text {
            @include font(18px, 500, 1);
            color: $text-gray;
            @media screen and (max-width: 767px) {
                @include font(12px, 500, 1);
            }
        }
    }
    & .slider__item-img {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 250px;
        object-fit: cover;

        @media screen and (max-width: 767px) {
            width: 130px;
            height: 130px;
        }
    }
}

.similar.section {
    & .slider__wrapper {
        position: relative;
    }
    & .slick-arrow {
        position: absolute;
        &.slick-prev {
            left: inherit;
            right: 10%;
            bottom: 95%;
            top: inherit;
        }

        &.slick-next {
            left: 90%;
            right: 100%;
            bottom: 95%;
            top: inherit;
        }
    }
}
