.reviews {
    margin-top: 1em;
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;

    border-radius: 5px;

    @media screen and (max-width: 1199px) {
        grid-template-columns: 1fr;
        grid-row-gap: 12px;
        padding: 5px;
    }
    @media screen and (min-width: 1200px) {
        height: 710px;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    }
    // -webkit-overflow-scrolling: touch;
    & .reviews__wrapper {
        @include flex(flex-start);
        flex-direction: column;
        @media screen and (max-width: 1199px) {
            height: 600px;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                background-image: -webkit-linear-gradient(90deg, $bg-gray 30%, $hover-stars 50%, $bg-gray 70%);
            }
        }
        @media screen and (min-width: 1200px) {
            scroll-behavior: smooth;
            overflow-x: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                background-image: -webkit-linear-gradient(90deg, $bg-gray 30%, $hover-stars 50%, $bg-gray 70%);
            }
        }
        &-item {
            width: 95%;
            padding: 32px;
            margin-bottom: 32px;
            box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
            @media screen and (max-width: 1199px) {
                padding: 12px;
                margin-bottom: 12px;
            }
            & > div {
                @include flex(flex-start);
                margin-bottom: 10px;
                @media screen and (max-width: 1199px) {
                    flex-direction: column;
                }
            }
        }
        & .user__image {
            width: 62px;
            height: 62px;
            object-fit: cover;
            border-radius: 50%;
        }
        & .user__name {
            @include font(1em, 700, 1.2);
            margin: 0 32px;
            @media screen and (max-width: 1199px) {
                margin: 0 12px;
            }
        }
        & .user__review {
            @include font(1em, 400, 1.2);
            padding-top: 32px;
            border-top: 1px solid $bg-gray;
            color: $text-gray;
            @media screen and (max-width: 1199px) {
                padding-top: 12px;
            }
        }

        & .wrapper__description-icons {
            color: rgb(255, 196, 0);
        }
    }

    & .review__form {
        margin: 0 auto;
        width: 100%;
        padding: 32px;
        margin-bottom: 32px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        @media screen and (max-width: 1199px) {
            padding: 12px;
            margin-bottom: 12px;
        }
        & legend {
            @include font(2em, 700, 1.2);
            text-align: center;
        }
        & fieldset {
            @include flex(flex-start);
            flex-direction: column;
            position: relative;
        }
        & .input {
            padding: 4px;
            margin: 12px 0;
            width: 100%;
            height: 5vh;
            background-color: $bg-light;
            border: 1px solid $text-gray;
            cursor: pointer;
            transition-duration: 500ms;
            @media screen and (min-width: 1200px) {
                padding: 7px;
                height: 60px;
                margin-top: 7px;
            }

            &:hover {
                color: $dark;
                border: 2px solid $dark;
            }
        }
        & textarea.input {
            height: 50%;
            resize: none;
        }
        & .button {
            width: 8em;
            height: 3em;
        }

        & input:focus:invalid,
        & select:focus:invalid {
            box-shadow: 0 0 5px 1px red;
            border: 1px solid transparent;
        }

        & input:focus:valid,
        & select:focus:valid {
            box-shadow: 0 0 5px 1px green;
            border: 1px solid transparent;
        }

        & input:valid,
        & select:valid {
            box-shadow: 0 0 5px 1px green;
        }
        & #notifyType:before {
            display: block;
            margin-top: 15px;
        }

        & .active {
            height: 50px;
        }

        & .success:before {
            content: "Aww Yeaaaaa! Success!";
        }
    }
}

%checked-star {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='star' class='svg-inline--fa fa-star fa-w-18' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3e%3cpath fill='%23ffbc31' d='M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z'%3e%3c/path%3e%3c/svg%3e")
        no-repeat;
}

%unchecked-star {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='star' class='svg-inline--fa fa-star fa-w-18' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3e%3cpath fill='%239f9f9f' d='M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z'%3e%3c/path%3e%3c/svg%3e")
        no-repeat;
}

%hide-text {
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

%hide-element {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -9999;
    overflow: hidden;
}

@for $group from 1 through 5 {
    @for $item from 1 through $group {
        .radio-#{$group}:checked ~ .star-item-#{$item},
        .radio-#{$group}:focus ~ .star-item-#{$item} {
            @extend %checked-star;
        }
    }
}

.star {
    margin: 1em auto;
    pointer-events: none;
    width: 50%;
    @include flex(space-between);

    .star-item {
        cursor: pointer;
        display: inline-flex;
        height: 32px;
        pointer-events: initial;
        width: 32px;
        @extend %unchecked-star;
        @extend %hide-text;

        &:hover ~ .star-item {
            @extend %unchecked-star;
        }
    }
    &:hover .star-item {
        @extend %checked-star;
    }
}

.radio {
    @extend %hide-element;
}
